<%= simple_form_for list, html: { autocomplete: "off", data: { controller: :lists, action: "turbo:submit-end->lists#clear" } } do |form| %>
  <%= form.hidden_field :created_by, value: current_user.id %>

  <%= form.input :name, label: false, autofocus: true, placeholder: "Name" %>

  <div class="flex justify-end items-center flex-wrap mt-6">
    <%= form.submit nil, class: "inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm" %>
    <button class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" data-action="click->modal#close">Close</button>
  </div>
<% end %>