<%= content_for :page_title do %>
  <h1 class="text-2xl font-bold">New Calendar Event</h1>
<% end %>

<div class="container px-4 mx-auto my-8">
  <div class="p-8 bg-white rounded shadow">
    <%= render "form", event: @event %>
  </div>
</div>
