<div class="overflow-hidden bg-white border border-gray-200 rounded shadow-md">
  <button type="button" class="fc-dayGridDay-button w-full text-gray-700 hover:bg-gray-100 cursor-pointer block px-4 py-2 text-sm text-start">
    Daily
  </button>
  <button type="button" class="fc-dayGridWeek-button w-full text-gray-700 hover:bg-gray-100 cursor-pointer block px-4 py-2 text-sm text-start">
    Weekly
  </button>
  <button type="button" class="fc-dayGridMonth-button w-full text-gray-700 hover:bg-gray-100 cursor-pointer block px-4 py-2 text-sm text-start">
    Monthly
  </button>
</div>